.features {
    padding-top: var(--section-pt-mob-tab);
    padding-bottom: var(--section-pb-mob-tab);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features__item:not(:last-child) {
    margin-bottom: 30px;
}

.features__wrapper {
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
}

.features__text {
    max-width: 450px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

@media screen and (min-width: 768px) {
    .features__list {
        margin-left: -30px;
        margin-top: -30px;
    }

    .features__item:not(:last-child) {
        margin-bottom: 0;
    }

    .features__item {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }     
    
    .features__wrapper {
        width: 354px;
    }

    .features__title {
        text-align: left;
    }

    .features__text {
        max-width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .features {
        padding-top: var(--section-pt);
        padding-bottom: var(--section-pb);
    }

    .features__item {
        flex-basis: calc(100% / 4 - 30px);
    }   
    
    .features__wrapper {
        width: 270px;
    }

    .features__text {
        max-width: 270px;
    }
}
