.navigation__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    animation-duration: 1000ms;

    &_light-theme {
        color: #000000;
    }

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__accent-text {
    color: var(--accent-color);
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    &_dark-theme {
        color: #FFFFFF;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
    }
}