.portfolio {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
}

.filters__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters__item {
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.filters__btn {
    min-width: 73px;
    padding: 6px 22px;
    @include font(500, 16px);
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: #FFFFFF;
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            cursor: pointer;
        }
}