.projects__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.projects__box {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    text-align: left;
}

.projects__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.projects__title {
    margin-bottom: 4px;
    @include font(700, 18px);
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.projects__text {
    @include font(400, 16px);
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.projects__thumb {
    position: relative;
    overflow: hidden;
}

.projects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    @include font(400, 18px);
    line-height: 1.56;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .projects__link:hover &,
        .projects__link:focus & {
            transform: translateY(0%);
        }
}