:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color:  #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --sprite-fill: #AFB1B8;
    --section-pt: 94px;
    --section-pb: 94px;
}